In [37]:
import os
os.getcwd()

'C:\\Users\\Prathamesh\\Desktop\\vijay python\\Untitled Folder'

In [38]:
import pandas as pd
from sklearn import preprocessing
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import model_selection
from sklearn.tree import export_graphviz
import warnings
warnings.filterwarnings("ignore",category = DeprecationWarning)
import sklearn
from sklearn.model_selection import cross_val_score
from sklearn import svm #super vector
from sklearn.naive_bayes import GaussianNB 
from sklearn.tree import DecisionTreeClassifier,_tree
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score

In [39]:
os.listdir()

['.ipynb_checkpoints',
 'chatbot.ipynb',
 'ENTROPY DATA SET.csv',
 'New_decision_tree.ipynb',
 'strings .ipynb',
 'Testing.csv',
 'Training.csv']

In [40]:
training = pd.read_csv('ENTROPY DATA SET.csv')
training

   Day    Outlook  Temp Humidity  Windy Play
0    D1     Sunny   Hot     High  False   NO
1    D2     Sunny   Hot     High   True   NO
2    D3  Overcast   Hot     High  False  YES
3    D4     Rainy  Mild     High  False  YES
4    D5     Rainy  Cool   Normal  False  YES
5    D6     Rainy  Cool   Normal   True   NO
6    D7  Overcast  Cool   Normal   True  YES
7    D8     Sunny  Mild     High  False   NO
8    D9     Sunny  Cool   Normal  False  YES
9   D10     Sunny  Mild   Normal  False  YES
10  D11     Sunny  Mild   Normal   True  YES
11  D12  Overcast  Mild     High   True  YES
12  D13  Overcast   Hot   Normal  False  YES
13  D14     Rainy  Mild     High   True   NO

In [41]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()

In [42]:
#training["Outlook"] = LE.fit_transform(training["Outlook"])
for i in training.columns:
    training[i] = LE.fit_transform(training[i])
training.head()

   Day   Outlook  Temp  Humidity  Windy  Play
0     0        2     1         0      0     0
1     6        2     1         0      1     0
2     7        0     1         0      0     1
3     8        1     2         0      0     1
4     9        1     0         1      0     1

In [43]:
X = training.drop(["Play","Day "],axis=1)
y = training[["Play"]]

In [45]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)

In [46]:
X_train

    Outlook  Temp  Humidity  Windy
1         2     1         0      1
6         0     0         1      1
7         2     2         0      0
4         1     0         1      0
12        0     1         1      0
0         2     1         0      0
3         1     2         0      0
8         2     0         1      0
13        1     2         0      1
9         2     2         1      0

In [55]:
model = DecisionTreeClassifier()

In [56]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

In [57]:
y_pred = model.predict(X_test)

In [58]:
y_pred

array([1, 0, 1, 1])

In [59]:
y_test

    Play
5      0
11     1
10     1
2      1

In [60]:
from sklearn.metrics import accuracy_score

print("Accuracy: ", accuracy_score(y_test, y_pred))

Accuracy:  0.5